*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

/.gradle/
/.idea/
app/src/main/assets/inception_v3.tflite
app/src/main/assets/labels.txt
